<!DOCTYPE html>
<html lang="en" class="app">
<head>
  <meta charset="utf-8" />
  <title>Plot Diary</title>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "main" %>
</head>
<body>
<section class="vbox">
 
  <section>

      <%=yield%>

  </section>
</section>
<%=javascript_include_tag "/javascripts/bootstrap-filestyle.min"%>
</body>

</html>









